@font-face {
  font-family: 'Mona Sans';
  src:
    url('../fonts/CascadiaCode-Regular.woff2') format('woff2 supports variations'),
    url('../fonts/CascadiaCode-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Mona Sans SB';
  src:
    url('../fonts/CascadiaCode-SemiBold.woff2') format('woff2 supports variations'),
    url('../fonts/CascadiaCode-SemiBold.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

body {
  font-family: 'Mona Sans', serif;
  }

h1, h2, h3, h4, h5, .site-title, .site-nav {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: blue;
}

