---
layout: default
page.comments: True
---

{% assign reading_time = content | strip_html | number_of_words | plus: 199 | divided_by: 200 %}

<!-- Post Header -->

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">{{ page.date | date: "%B %-d, %Y" }} <span aria-hidden="true">&middot;</span> {{ reading_time }} min read</span>
                    {% if page.tags and page.tags != empty %}
                    <ul class="post-topics" aria-label="Topics">
                        {% for tag in page.tags %}
                        <li><a href="{{ '/sitearchive/' | prepend: site.baseurl }}#topic-{{ tag | slugify }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-shell">
                <script type="text/x-mathjax-config">
                    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
                </script>
                <script type="text/javascript" async
                    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
                </script>

                <nav class="post-toc" aria-labelledby="post-toc-title" hidden>
                    <h2 id="post-toc-title">In this post</h2>
                    <ol class="post-toc-list"></ol>
                </nav>

                {% assign post_content = content | replace: '<h1', '<h2' | replace: '</h1>', '</h2>' %}
                <div class="post-content" data-post-title="{{ page.title | escape }}">
                    {{ post_content }}
                </div>

                {% assign related_count = 0 %}
                {% capture related_urls %}|{{ page.url }}|{% endcapture %}
                {% capture related_items %}
                    {% for candidate in site.posts %}
                        {% if related_count < 3 and candidate.url != page.url %}
                            {% assign is_related = false %}
                            {% for tag in page.tags %}
                                {% unless tag == 'python' or tag == 'data' %}
                                    {% if candidate.tags contains tag %}
                                        {% assign is_related = true %}
                                    {% endif %}
                                {% endunless %}
                            {% endfor %}
                            {% capture candidate_marker %}|{{ candidate.url }}|{% endcapture %}
                            {% unless related_urls contains candidate_marker %}
                                {% if is_related %}
                                    <li>
                                        <a href="{{ candidate.url | prepend: site.baseurl }}">{{ candidate.title }}</a>
                                        <time datetime="{{ candidate.date | date_to_xmlschema }}">{{ candidate.date | date: "%Y" }}</time>
                                    </li>
                                    {% assign related_count = related_count | plus: 1 %}
                                    {% capture related_urls %}{{ related_urls }}{{ candidate_marker }}{% endcapture %}
                                {% endif %}
                            {% endunless %}
                        {% endif %}
                    {% endfor %}

                    {% if related_count < 3 %}
                        {% for candidate in site.posts %}
                            {% if related_count < 3 and candidate.url != page.url %}
                                {% assign is_related = false %}
                                {% for tag in page.tags %}
                                    {% if candidate.tags contains tag %}
                                        {% assign is_related = true %}
                                    {% endif %}
                                {% endfor %}
                                {% capture candidate_marker %}|{{ candidate.url }}|{% endcapture %}
                                {% unless related_urls contains candidate_marker %}
                                    {% if is_related %}
                                        <li>
                                            <a href="{{ candidate.url | prepend: site.baseurl }}">{{ candidate.title }}</a>
                                            <time datetime="{{ candidate.date | date_to_xmlschema }}">{{ candidate.date | date: "%Y" }}</time>
                                        </li>
                                        {% assign related_count = related_count | plus: 1 %}
                                        {% capture related_urls %}{{ related_urls }}{{ candidate_marker }}{% endcapture %}
                                    {% endif %}
                                {% endunless %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endcapture %}

                {% if related_count > 0 %}
                <aside class="related-posts" aria-labelledby="related-posts-title">
                    <h2 id="related-posts-title">Related posts</h2>
                    <ul>{{ related_items }}</ul>
                </aside>
                {% endif %}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = page.url;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = page.id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//clinthoward.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
